body {
  background-color: #121212;
  color: #ffffff;
}

a {
  color: #BB86FC;
}

.subscribe-btn {
  background-color: #007BFF;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
}

.subscribe-btn:hover {
  background-color: #0056b3;
}
footer { background: #f1f1f1; }
.footer-widget { padding: 15px; }
